<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova.plugin.netperformance" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>NetPerformance</name>
	<js-module name="NetPerformance" src="www/NetPerformance.js">
		<clobbers target="cordova.plugins.NetPerformance" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="NetPerformance">
				<param name="android-package" value="cordova.plugin.netperformance.NetPerformance" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.READ_SMS"/>
            <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<!--	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
      		<service android:name="cordova.plugin.netperformance.ServiceNet" />
        </config-file>
		<resource-file src="src/android/resource/amplifyconfiguration.json" target="res/raw/amplifyconfiguration.json"/>
		<resource-file src="src/android/resource/awsconfiguration.json" target="res/raw/awsconfiguration.json" />
		<source-file src="src/android/NetPerformance.java" target-dir="src/cordova-plugin-netperformance/NetPerformance" />
		<source-file src="src/android/ServiceNet.java" target-dir="src/cordova-plugin-netperformance/NetPerformance" />
        <framework src="src/android/resource/build-extras.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>
